.toolbox-sections{
    background-color: var(--light-gray);
    position: absolute;
    top: 0;
    left: 50px;
    width: 250px;
    height: 100%;
    z-index: 9999;
    animation: showBoxShadow 0s linear 0.2s forwards;

    .toolbox-header-black {
        background-color: var(--main);
        height: 50px;
        width: 100%;
    }

    .toolbox-sections-content {
        padding: 10px;
        width: 250px;

        .toolbox-section-title {
            font-size: 16px;
            font-weight: 500;
            border-bottom: 1px solid var(--main);
        }

        ul {
            list-style: none;

            li {
                position: relative;

                h1 {
                    font-size: 32px;
                }
                h2 {
                    font-size: 24px;
                }
                p {
                    font-size: 16px;
                }

                .new-comp-btn-bg {
                    touch-action: none;
                    user-select: none;
                    height: 40px;
                    margin: 5px 0;
                    color: var(--text-black);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .new-comp-btn-drag {
                    border-radius: 5px;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index: 2000;
                    left: 0;
                    top: 0;

                    &:hover {
                        cursor: pointer !important;
                    }

                    &:active {
                        background-color: rgba(117, 186, 237, 0.5);
                        border: 1px dashed var(--main-blue);
                    }
                }

                &:hover {
                    background-color: var(--light-gray-hover);
                }
            }
        }
    }
}


.show-toolbox {
    animation: openSection 200ms ease;
}


.hide-toolbox {
    animation: closeSection 200ms ease forwards;

    .toolbox-section-title {
        visibility: hidden;
    }

    li{
        &:hover {
            background-color: transparent !important;
        }

        &:active {
            background-color: transparent !important;
        }
    }

    .new-comp-btn-bg {
        visibility: hidden;
    }
}

@keyframes showBoxShadow {
    to {
        box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.1);
    }
}

@keyframes openSection{
    from {
        width: 0;
        overflow: hidden;
    }
    to {
        width: 250px;
        overflow: visible;
    }
}

@keyframes closeSection{
    from {
        width: 250px;
    }
    to {
        width: 0;
    }
}
