.login-button-container{
    background-color: var(--main);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    color: var(--white);
    padding: 15px;
    border: 1px solid var(--main);
    transition: 0.3s ease;
    p{
        font-size: 12px;
    }
    &:hover{
        cursor: pointer;
        background-color: var(--button-main-hover);
    }
}
