@use "./colors";
@use "./fonts";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: var(--main);
    padding: 40px 120px 0 120px;
}

.button-main{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: var(--white);
    background-color: var(--button-main);
    border: 1px solid var(--button-main);
    transition: 300ms;
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        cursor: pointer;
        background-color: var(--button-main-hover);
    }
}

.button-secondary{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: var(--text-main);
    border: 1px solid var(--border-color);
    transition: 300ms;
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        cursor: pointer;
        background-color: var(--gray);
    }
}

input {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}
