:root {
    --background : #E1E5EA;
    --background-secondary : #ffffff;
    --main : #101010;
    --main-orange : #FF914D;
    --border-color: rgba(5, 34, 71, 0.1);

    --text-black : #101010;
    --text-white : #fafafa;

    --button-main : #FF914D;
    --button-main-hover : #ffac79;

    --white : #fafafa;
    --black : #101010;
    --gray: #e8ebf3
}
