:root {
    --background : #E1E5EA;
    --background-secondary : #F9F8FC;
    --main : #052247;
    --border-color: rgba(5, 34, 71, 0.1);

    --text-main : #052247;

    --button-main : #052247;
    --button-main-hover : #0A3C6D;

    --white : #fafafa;
    --black : #101010;
    --gray: #E1E3EA
}
