.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px 10px 40px;

    a{
        display: flex;
        align-items: center;
        color: var(--main);
    }

    .navbar-buttons-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;

        .navbar-separation-bar{
            height: 30px;
            background-color: var(--main);
            width: 1px;
        }
    }
}
