.navbar-container {
    background-color: var(--background-secondary);
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border: 1px solid var(--border-color);
    .navbar-left-part-container {
        width: 20%;
        height: 30px;
        a{
            display: flex;
            align-items: center;
            width: 70px;
        }
    }
    .navbar-center-container {
        width: 60%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        p {
            font-size: 16px;
        }
    }
    .navbar-buttons-container {
        width: 20%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
    }
}
