.builder-edit-bar-container{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    padding-bottom: 2em;

    .builder-edit-bar {
        background-color: var(--light-gray);
        padding: 10px 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: max-content;
        box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.1);

        .edit-bar-inputs-container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            padding-right: 1em;
            .edit-bar-input {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 3px;
                .font-input {
                    height: 25px;
                    padding: 0 5px;
                    border: 1px solid var(--gray);
                    width: 120px;
                    border-radius: 2px;
                }
            }
        }

        .edit-bar-buttons-container{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 1em;
            border-left: 1px solid var(--black);
            height: 100%;

            .edit-bar-button {
                background-color: var(--white);
                border: 1px solid var(--black);
                height: 40px;
                width: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover {
                    background-color: var(--red);
                    border: 1px solid var(--red);
                    color: var(--text-white);
                    cursor: pointer;
                }
            }
        }
    }
}
