.builder-edit-section {
    padding: 15px;
    color: var(--black-smooth);
    border-top: 1px solid var(--black-smooth);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;

    h3 {
        font-size: 14px;
    }

    .builder-edit-item-container {
        display: flex;
        flex-direction: column;
        gap: 5px;
        border-top: 1px solid var(--border-color) ;
        padding: 10px 0 0 0;
        p {
            font-size: 11px;
        }
    }
}
